* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url(images/todo.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-home {
    width: 70%;
    height: 90%;
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.details h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.streaks {
    font-size: 1.2em;
    margin-top: 0.5em;
}

#numbers {
    background-color: black;
    color: white;
    padding: 1em;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.4em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    gap: 1em;
}

form input, form select {
    padding: 0.6em;
    background-color: white;
    border: none;
    border-bottom: 2.4px solid rgb(19, 20, 20);
    border-radius: 5px;
    color: black;
    width: 200px;
}

.button, #delete-all, #history, .add-btn {
    padding: 0.6em 1em;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 0.5em;
}

#newtask {
    background-color: black;
    padding: 0.8em;
    color: white;
    border-radius: 10px;
    border: none;
}

.button {
    background-color: rgb(14, 15, 17);
}

.button:hover {
    background-color: #131414;
}

.add-btn {
    background-color: black;
}

.add-btn:hover {
    background-color: #333;
}

#delete-all {
    background-color: rgb(255, 0, 0);
}

#delete-all:hover {
    background-color: #d40000;
}

#history {
    background-color: rgb(0, 123, 255);
}

#history:hover {
    background-color: #007bff;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 25vh;
    overflow-y: auto;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
}

.modify img {
    height: 24px;
    width: 24px;
    margin-left: 0.5em;
    cursor: pointer;
}

.modify img:hover {
    transform: scale(1.2);
}

.whatsapp > img {
    height: 40px;
    width: 40px;
}

.share-buttons{
    margin-top: 3em;
}

.telegram > img {
    height: 35px;
    width: 35px;
    padding-bottom: 0.2em;
}


.popup-content>h2{
    margin: 1.5em;
}

#custom-alert{
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 20%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 2em;
    text-align: center;
}

#history-popup{
    display: none;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 2em;
    text-align: center;
}

#history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 20vh;
    overflow: scroll;
}

#history-list>li{
    padding: 1em;
}

#history-ok ,#alert-ok{
    margin-top: 1em;
    padding: 0.6em 1em;
    background-color: rgb(14, 15, 17);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#history-ok:hover {
    background-color: #333;
    transform: scale(1.2);
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}

.save-btn{
    padding: 0.6em 1em;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #000;
    margin: 0 2em;
    padding: 0.4em 1em;
    height: 5vh;
    width: 7vw;
    font-size: 1.2em;
}

.save-btn:hover{
    transform: scale(1.2);
}

#newtask:hover{
    transform: scale(1.2);
}
